<div class="col">
    <div class="card" style="width:400px">
        <img src="{{ asset("/photos/"~ dossier ~ "/" ~ chiens.filename) }}">
        <div class="card-footer">{{ chiens.filename }}</div>
    </div>
</div>

{# {{ chiens.filename }} affiche le nom des images #}
<br>