{% extends 'base.html.twig' %}

{% block title %}
    Les chiens du dossier {{ dossier }}
{% endblock %}

{% block body %}
    <h1>Les chiens du dossier <i>{{ dossier }}</i></h1>

    <div class="row">
        {% for chiens in photos %}
          {% include "chiens/_chien.html.twig" %}
        {% endfor %}
    </div>

    <h2>Ajouter une photo</h2>
    {{ form(formPhoto) }}
{% endblock %}
